<div class="row">
    <div class="col-md-12">
        <h4>Endereços</h4>
    </div>
</div>
<div ng-repeat="item in $ctrl.addresses">
    <div class="row"
         style="margin-bottom: 20px;">
        <div class="col-md-3" >
            <label class="input-label">CEP</label>
            <mgb-input-text input-value="item.zipCode"></mgb-input-text>
        </div>
        <div class="col-md-7">
            <label class="input-label">Logradouro</label>
            <div class="input-text">
                <mgb-input-text input-value="item.premisse"></mgb-input-text>
            </div>
        </div>
        <div class="col-md-2">
            <label class="input-label">Número</label>
            <div class="input-text">
                <mgb-input-text input-value="item.number"></mgb-input-text>
            </div>
        </div>
    </div>
    <div class="row"
         style="margin-bottom: 20px;">
        <div class="col-md-7">
            <label class="input-label">Bairro</label>
            <div class="input-text">
                <mgb-input-text input-value="item.neighbourhood"></mgb-input-text>
            </div>
        </div>
        <div class="col-md-3">
            <label class="input-label">Cidade</label>
            <div class="input-text">
                <mgb-input-text input-value="item.location"></mgb-input-text>
            </div>
        </div>
        <div class="col-md-2">
            <label class="input-label">Estado</label>
            <div class="input-text">
                <mgb-input-text input-value="item.state"></mgb-input-text>
            </div>
        </div>
    </div>
    <div class="row"
         style="margin-bottom: 20px;">
        <div class="col-md-9">
            <label class="input-label">Complemento</label>
            <div class="input-text">
                <mgb-input-text input-value="item.information"></mgb-input-text>
            </div>
        </div>
        <div class="col-md-3">
            <label class="input-label">País</label>
            <div class="input-text">
                <mgb-input-text input-value="item.country"></mgb-input-text>
            </div>
        </div>
    </div>

</div>