<div class="row">
    <div class="col-md-12">
        <h4>Endereços</h4>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-3">
        <label class="input-label">CEP</label>
        <mgb-input-text input-value="$ctrl.address.zipCode"></mgb-input-text>
    </div>
    <div class="col-md-7">
        <label class="input-label">Logradouro</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.premisse"></mgb-input-text>
        </div>
    </div>
    <div class="col-md-2">
        <label class="input-label">Número</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.number"></mgb-input-text>
        </div>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-7">
        <label class="input-label">Bairro</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.neighbourhood"></mgb-input-text>
        </div>
    </div>
    <div class="col-md-3">
        <label class="input-label">Cidade</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.location"></mgb-input-text>
        </div>
    </div>
    <div class="col-md-2">
        <label class="input-label">Estado</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.state"></mgb-input-text>
        </div>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-9">
        <label class="input-label">Complemento</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.information"></mgb-input-text>
        </div>
    </div>
    <div class="col-md-3">
        <label class="input-label">País</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.address.country"></mgb-input-text>
        </div>
    </div>
</div>