.modal-card-teste {
    position: absolute;
    left: -220px;
    .content-teste {
        width: 1000px;
        height: 700px;
        margin: auto;
        margin-top: 150px;
        background-color: aliceblue;
    }
}
