.person-form {
    .board-form {
        width: 100vw;
        height: 100vh;
        padding: 10px 10px 10px 10px;
        display: inline-flex;
        background-size: contain;
        color: #000 !important;
    }
    
    .content-area {
        background-color: #FFF;
        padding: 50px;
        z-index: auto;
    }

    .content-title {
        margin-bottom: 20px;
    }

    .content-form {
        width: 80vw;
    }
    
    .content-person {
        // margin-bottom: 45px;
    }

    .button {
        display: grid;
        justify-content: center;
        text-align: center;
    }
    
    .button button {
        width: 200px;
        height: 50px;
        font-size: 24px;
        margin-top: 10px;
    }
    @media (max-width: 900px) {
        .content-area {
            overflow-y: auto;
        }
    }

    .button-back {
        margin-top: 10px;
        cursor: pointer;
    }
}
