
.side-bar {
    background: rbga(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.6s ease;
    transition-property: left;
}

.side-bar.active {
    left: 0;
}

.side-bar .menu {
    width: 100%;
    margin-top: 80px;
}

.side-bar .menu .item {
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover {
    background: #8621F8;
    transition: 0.3s ease;
}

.side-bar .menu .item i {
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: rgba(255, 255, 255, 0.1);
    height: 0;
    transition: 0.5s ease;
    opacity: 0;
    // display: none;


    // transform:translate(9999px);
    // opacity: 0; 
}

.side-bar .menu .item .sub-menu.active {
    height: 210px;
    opacity: 1;
    // display: block;


    // transition: opacity 0.3s linear;  
    // transform:translate(0);
    // opacity: 1;
}

.side-bar .menu .item .sub-menu a {
    padding-left: 50px;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}