.person-list {
    .board-list {
        width: 100vw;
        height: 100vh;
        padding: 10px 10px 10px 10px;
        display: inline-flex;
        background-size: contain;
        color: #000 !important;
    }
    
    .content-area {
        background-color: #FFF;
        padding: 50px;
        z-index: auto;
    }

    .content-title {
        margin-bottom: 20px;
    }

    .new-person-button {
        float: right;
        margin-bottom: 10px;
    }

    .table {
        width: 80vw;
    }

    .icon-edit a{
        color: #343a40;
    }
}
