.kanban-boards {
    .boards {
        height: auto;
        margin-top: 20px;
        display: flex;
    }
    .board {
        margin: 0 10px;
        border-radius: 3px;
        background: #ebecf0;
        border: 1px solid #FD951F11;
    }
    .text-area {
        height: 30px;
        font-weight: 600;
        color: #131313;
        margin: 10px;
        padding-left: 10px;
        line-height: 30px;
    }
    .dropzone {
        overflow-y: auto;
        max-height: 77vh;
    }
    .new-card a {
        text-decoration: none;
    }
    .final-board {
        width: 260px;
        height: 30px;
        margin: 10px;
        padding-left: 10px;
        line-height: 30px;
        display: flex;
        border-radius: 5px;
        font-size: 15px;
        color: #7b7e89;
    }
    .final-board i {
        line-height: 30px;
        font-size: 20px;
    }
    .final-board:hover {
        text-decoration: none;
        background-color: #ced2df;
        color: #131313;
    }
}