<div class="kanban-boards">
    <div class="boards">
        <div class="board">
            <div class="text-area">{{ $ctrl.column.title }}</div>
            <div class="dropzone">
                <card ng-repeat=" card in $ctrl.column.cards" card=card ></card>
            </div>
            <div class="new-card">
                <a href="">
                    <div class="final-board">
                        <i class='bx bx-plus'></i>
                        <div>Novo Card</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>