<div class="row">
    <div class="col-md-12">
        <h4>Dados pessoais</h4>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-8">
        <label class="input-label">Nome</label>
        <mgb-input-text input-value="$ctrl.entity.name"></mgb-input-text>
    </div>
    <div class="col-md-4">
        <label class="input-label">Gênero</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.entity.gender"></mgb-input-text>
        </div>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-2">
        <label class="input-label">Dia</label>
        <mgb-input-text input-value="'22'"></mgb-input-text>
    </div>
    <div class="col-md-2">
        <label class="input-label">Mês</label>
        <mgb-input-text input-value="'09'"></mgb-input-text>
    </div>
    <div class="col-md-2">
        <label class="input-label">Ano</label>
        <mgb-input-text input-value="'1996'"></mgb-input-text>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-6" ng-repeat="item in $ctrl.phones">
        <label class="input-label">Telefone</label>
        <mgb-input-text input-value="item.phone"></mgb-input-text>
    </div>
    <div class="col-md-6">
        <label class="input-label">Email</label>
        <div class="input-text" ng-repeat="item in $ctrl.emails">
            <mgb-input-text input-value="item.email"></mgb-input-text>
        </div>
    </div>
</div>