<div class="row">
    <div class="col-md-12">
        <h4>Dados pessoais</h4>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-12">
        <label class="input-label">Nome</label>
        <mgb-input-text input-value="$ctrl.person.name"></mgb-input-text>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-2">
        <label class="input-label">Dia</label>
        <mgb-input-text input-value="'22'"></mgb-input-text>
    </div>
    <div class="col-md-2">
        <label class="input-label">Mês</label>
        <mgb-input-text input-value="'09'"></mgb-input-text>
    </div>
    <div class="col-md-2">
        <label class="input-label">Ano</label>
        <mgb-input-text input-value="'1996'"></mgb-input-text>
    </div>
    <div class="col-md-6">
        <label class="input-label">Gênero</label>
        <div class="input-text">
            <mgb-input-text input-value="'Masculino'"></mgb-input-text>
        </div>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-6">
        <label class="input-label">Telefone</label>
        <mgb-input-text input-value="$ctrl.phone.phone"></mgb-input-text>
    </div>
    <div class="col-md-6">
        <label class="input-label">Email</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.email.email"></mgb-input-text>
        </div>
    </div>
</div>