.person-data {
    margin-bottom: 30px;
    h4 {
        font-weight: 600;
        color: #333333;
    }
    .box {
        margin-bottom: 10px;
    }
    .input-label {
        margin-bottom: 0 !important;
    }
}