.carousel-item {
    img {
      object-fit: cover;
      min-height: 18em;
    }
  }
  
  .cards {
    .col-4 {
      padding: 0;
      padding-left: 0.2em;
      padding-right: 0.2em;
    }
  
    .card {
      img {
        object-fit: cover;
        min-height: 5em;
      }
    }
  }