.kanban-cards {
    .cards {
        width: 260px;
        padding: 16px;
        margin: 0px 10px 10px 10px;
        border-radius: 3px;
        font-style: 18px;
        background: #f5f5f5;
        color: #000;
        box-shadow: 0 2px 2px -1px #131313;
    }
    .status {
        width: 30px;
        height: 8px;
        margin-bottom: 5px;
        border-radius: 8px;
        background: #FFF;
    }
    .green {
        background: #23d2aC;
    }
    .blue {
        background: #33adff;
    }
    .red {
        background: red;
    }
    .hightlight {
        background-color: #FD951F08;
    }
    
    .cards, .dropzone {
        transition: 400ms;
    }
    
    .is-dragging {
        cursor: move;
        opacity: 0.3;
    }
    .over {
        background-color: #4cd13711;
    }
}