<div ng-class="$ctrl.hide == true ? 'navbar-active navbar' : 'navbar'">
    <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <div class="name_job">
              <div class="name">Jake Peralta</div>
              <div class="job">Detetive</div>
            </div>
            <img src="https://assets.foxdcg.com/dpp-uploaded/images/credits/240412710505/Andy%20520.jpg?fit=inside%7C*:312" alt="">
          </div>
          <!-- <i class='bx bx-log-out' id="log_out" ></i> -->
        </div>
      </div>
</div>