.navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 240px);
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.9s ease;
}
.navbar-active {
    width: calc(100% - 78px);
    transition: all 0.4s ease;
}
.navbar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    right: 0;
    width: 100%;
}
.navbar .profile_content .profile {
    position: relative;
    padding: 10px 15px;
    height: 60px;
    background: none;
    float: right;
    // transition: all 0.4s ease;
}
// .active .profile_content .profile {
//     background: #1d1b31;
// }
.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    white-space: nowrap;
}
.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job {
    margin-right: 10px;
}
.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job {
    font-size: 12px;
    float: right;
}
// .profile #log_out {
//     position: absolute;
//     // right: 88%;
//     bottom: 5px;
//     transform: translateX(-50%);
//     min-width: 50px;
//     line-height: 50px;
//     font-size: 20px;
//     border-radius: 12px;
//     text-align: center;
//     transition: all 0.4s ease;
//     background: none;
// }
// .active .profile #log_out  {
//     left: 88%;
//     background: none;
// }