
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  // min-height: 100vh;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;

  background-color: #130f0d;
  // color: #fff;

  display: flex;
  padding: 50px 50px 50px 50px;

}
html {
  font-family: 'Nunito Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #1d1b31;
}
::-webkit-scrollbar-corner {
  // background-color: red;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #6c63c4;
}
.base_content {
    position: relative;
    height: 100%;
    display: flex;
    width: calc(100% -78px);
    left: 240px;
    transition: all 0.5s ease;
  }
  .base_active {
    width: calc(100% - 78px);
    left: 78px;
  }