<div class="input-text">
    <input type="text"
           style="width: 100%;"
           ng-model="$ctrl.inputValue"
           placeholder="">
</div>

<!-- <div class="mbg-input-wrapper mb-input-text-wrapper">
    <div class="label-float">
        <input type="text" 
               ng-model="$ctrl.inputValue"
               placeholder=" "/>
        <label class="label">{{ $ctrl.inputLabel }}</label>
    </div>
</div> -->

<!-- <div class="label-float">
    <input type="text" placeholder=" "/>
    <label class="label">Telefone</label>
</div>
<br/>
<div class="label-float">
    <input type="text" placeholder=" " required/>
    <label>Nome de Usuário</label>
</div> -->