<div class="row">
    <div class="col-md-12">
        <h4>Documentos</h4>
    </div>
</div>
<div class="row"
     style="margin-bottom: 20px;">
    <div class="col-md-4">
        <label class="input-label">CPF ou CNPJ</label>
        <nimble-input-cpf-cnpj ng-model="$ctrl.document"></nimble-input-cpf-cnpj>
        <!-- <mgb-input-text input-value="$ctrl.entity.cpf"></mgb-input-text> -->
    </div>
    <div class="col-md-3" ng-if="$ctrl.typePerson == 'pf'">
        <label class="input-label">RG</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.entity.rg"></mgb-input-text>
        </div>
    </div>
    <div class="col-md-3" ng-if="$ctrl.typePerson == 'pj'">
        <label class="input-label">IE</label>
        <div class="input-text">
            <mgb-input-text input-value="$ctrl.entity.ie"></mgb-input-text>
        </div>
    </div>
</div>