.kanban-frame {
    // background: url("https://images8.alphacoders.com/105/1054256.jpg");
    // background-size: 1920px;
    background-color: #97979704;

    .frame-zone {
        width: 100vw;
        height: 100vh;
        padding: 10px 10px 10px 10px;
        display: inline-flex;
        background-size: contain;
        color: #000 !important;
        overflow: scroll;
    }
    .frame {
    }
    .boards {
        height: 40px;
        margin-top: 20px;
        display: flex;
    }
    .board {
        margin:  0 10px;
        border-radius: 3px;
        background: rgba(129, 129, 129, 0.199);
        border: 1px solid #FD951F11;
    }
    .new-board a {
        width: 260px;
        height: 40px;
        padding-left: 10px;
        line-height: 40px;
        display: flex;
        border-radius: 5px;
        text-decoration: none;
        font-size: 15px;
        color: #FFF;
    }
    .new-board i {
        line-height: 40px;
        font-size: 20px;
    }
    .new-board:hover {
        text-decoration: none;
        background-color: rgba(146, 146, 146, 0.356);
        color: #131313;
    }
}