.column {
    width: 300px;
    max-height: 85vh;
    height: auto;
    // border: 3px solid red;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #1d1b31;
    color: #FFF;
    // text-align: center;
}
.column a {
    text-decoration: none;
    color: #FFF;
}
.column a:hover {
    text-decoration: none;
}
.title {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform:uppercase ;
}
.bottom-column {
    text-align: center;
    border-radius: 5px;
}
.bottom-column i {
    font-size: 18px;
}
.bottom-column:hover {
    background-color: #3d386d;
    text-decoration: none;
    color: #FFF;
}