.column {
    width: 300px;
    height: 85vh;
    // border: 3px solid red;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #1d1b31;
    color: #FFF;
    text-align: center;
}